{% extends 'Taskbar.html' %}


{% block content %}
<div>
  <div class="container pt-4">
    <div class="row  p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
          <h2>Add New Tasks</h2>
        </div>
        <div class="p-4">
          <form action="/add_tasks" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="ADD" class="btn btn-info">
          </form>
        </div>
      </div>



      <div class="col">
        <div class="border">

          {% if tasks|length == 0 %}

          <div class="p-4">
            <br>
            <br>
            <div class="alert alert-info text-center">
              <p class="" style="font-size: 30px;">No Tasks Here</p>
            </div>
            <br>
            <br>
          </div>

          {%else%}
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>

                {% for task in tasks %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{task.title}}</td>
                  <td>
                    {% if task.status == 'C'%}
                    ✅
                    {%else%}
                    🕒
                    {%endif%}
                  </td>
                  <td>{{task.priority}}</td>
                  <td>
                    <a href="/delete_tasks/{{task.id}}" title="Delete" class="">🗑️</a>
                    {% if task.status == 'P'%}
                    <a href="/change_status/{{task.id}}/C" title="Mark Completed" class="">✅</a>
                    {%else%}
                    <a href="/change_status/{{task.id}}/P" title="Mark Pending" class="">🕒</a>
                    {%endif%}
                  </td>
                </tr>
                {%endfor%}


              </tbody>
            </table>
          </div>
          {%endif%}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}